.user-list-container {
  .search {
    display: flex;
    gap: 12px;

    margin-bottom: 12px;

    &__input {
      padding: 4px 12px;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      outline: none;
    }
  }

  .users-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
}
